// Description: Colors variables

$black: #1a110f;
$gray: #898989;
$white: #ffffff;

$primary: #f25824;
$primary-300: #f37144;
$primary-200: #ffe2d9;
$primary-100: #fff5f2;

$secondary: #fab95b;
$tertiary: #faf5f0;
$disabled: #d6d6d6;

$success: #007f10;
$error: #e30815;
$errorBkg: #e308171a;

// Buttons colors
$hover: #d94f21;
$focus: #bf451d;
$active: #171219;