// Description: Font variables

// Font family
$base_font: 'Plus Jakarta Sans', sans-serif;

// Font size
$h1_size: 2.5rem;
$h2_size: 2rem;
$h3_size: 1.75rem;
$h4_size: 1.5rem;
$h5_size: 1.25rem;
$h6_size: 1rem;
$p_size: 1rem;

// Line height
$line_height: 1.6;

// Font weight
$heavy: 800;
$bold: 600;
$normal: 400;
