* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	background-color: #faf5f0;
	font-family: 'Plus Jakarta Sans', sans-serif;
}

.container {
	width: calc(100vw - 15rem);
	margin: 0 auto;
}

/********* Navbar *********/
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 0.625rem 1.25rem;
	background-color: #f5f5f5;
	color: #1a110f;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: 1.5rem;
}

.navbar-tabs {
	list-style: none;
	display: flex;
	align-items: center;
}

.navbar-tabs li {
	margin-right: 7vh;
}

.navbar-tabs a {
	color: rgb(26, 17, 15, 0.5);
	text-decoration: none;
}
